{% extends 'base.html.twig' %}

{% block title %}Aperçu du PDF{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Aperçu du PDF : {{ file.name }}</h2>
        <div class="text-center">
            <embed src="{{ asset('pdf/' ~ file.name) }}" type="application/pdf" width="100%" height="600px" />
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('history') }}" class="btn btn-success">
                Retour
            </a>
            <a href="{{ path('history_download', { id: file.id }) }}" class="btn btn-success">
                Télécharger
            </a>
        </div>
    </div>
{% endblock %}
