{% extends 'base.html.twig' %}

{% block title %}Change Subscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">Change Your Subscription</h2>
        <form method="post">
            <div class="mb-3">
                <label for="subscription" class="form-label">Selectionnez un abonnement</label>
                <select id="subscription" name="subscription" class="form-control">
                    {% for subscription in subscriptions %}
                        <option value="{{ subscription.name }}"
                                {% if app.user.subscription is not null and app.user.subscription.name == subscription.name %}selected{% endif %}>
                            {{ subscription.name }} - {{ subscription.price }}€/mo
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Update Subscription</button>
        </form>
    </div>
{% endblock %}
